 /* Configurações Globais */ 

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden; /* Fixa o tamanho da página em 100% e impede o scroll */
}

#principal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centralizando */
    padding: 10px;
    text-align: center;
}

button {
    border: none;
    padding: 1em 2em;
    cursor: pointer; /* Ao passar o mouse em cima do botão (hover), o cursor vai mudar para "pointer" */
}

h1.counter {
    font-family: 'Courier New', Courier, monospace;
    margin-top:  20px;
}

.green {
    background-color: green;
    color: white;
    border-radius: 10px 0 0 10px;
}

.yellor {
    background-color: yellow;
}

.red {
    background-color: red;
    color: white;
    border-radius: 0 10px 10px 0;
}
